body{
    background-image: url(../images/home3.png) !important;
    background-size: cover !important;
    background-position: center !important;
    scroll-behavior: smooth;
}

/* 
body::-webkit-scrollbar {
    width: 0.4rem; 
} */


::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }

  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:10%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }